/*=============== COMMON STYLES ===============*/
:root {
  --blue: #001aff;
  --white: #ffffff;
  --yellow: #fff200;
  --cutomblack: #000000;
  --orange: #ff5a30;
  --section-color: #303841;
  --gradient1: #f7ff00;
  --gradient2: #db36a4;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: var(--white);
  color: var(--cutomblack);
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  cursor: pointer;
}

.container {
  max-width: 350px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-paddings {
  padding-top: 50px;
  padding-bottom: 50px;
}

.general-title {
  text-align: center;
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .general-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
/*=============== /COMMON STYLES ===============*/

/*=============== HEADER STYLES ===============*/
.page-header {
  text-transform: uppercase;
  background: linear-gradient(to bottom, var(--yellow) 20%, var(--white) 60%);
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.2), 0 2px 4px rgba(0, 0, 255, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 18px;
  font-weight: 500;
  max-width: 125px;
  display: block;
  transition: transform 250ms linear;
}

.header-logo:hover,
.header-logo:focus {
  transform: scale(1.1);
}

.fa-solid.fa-code {
  animation: 1.5s linear infinite beat;
}

@keyframes beat {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  0% {
    opacity: 1;
  }
}

.menu-list {
  display: none;
}

.header-menu-btn {
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  font-size: 22px;
}

/*=============== MOBILE MENU STYLES ===============*/
.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 250ms linear;

  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

.mobile-overlay.is-open {
  opacity: 1;
  overflow: visible;
  pointer-events: auto;
}

.mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: var(--cutomblack);
  color: var(--white);
  transform: translateX(0%);
  transition: transform 250ms linear;
  display: flex;
  flex-direction: column;
}

.mobile-overlay:not(.is-open) .mobile {
  transform: translateX(100%);
}

.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 28px;
  transition: color 250ms linear;
}

.mobile-close-btn:hover,
.mobile-close-btn:focus {
  color: var(--orange);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 25px;
}

.mobile-menu-link {
  font-size: 26px;
  border-bottom: 1px solid var(--white);
  transition: color 250ms linear, border-bottom 250ms linear;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--orange);
  border-color: var(--orange);
}

.mobile-social-list {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--orange);
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 6px;
  margin-top: auto;
}

.mobile-social-link {
  font-size: 30px;
  transition: color 250ms linear;
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  color: var(--blue);
}
/*=============== /MOBILE MENU STYLES ===============*/

@media screen and (min-width: 768px) {
  .page-header {
    padding: 0;
  }

  .header-container {
    display: block;
  }

  .header-logo {
    margin: 0;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
  }

  .menu-list {
    display: flex;
    gap: 24px;
    text-align: center;
  }

  .menu-link {
    display: block;
    padding: 24px 0;
    letter-spacing: 1px;
    perspective: 1000px;
    transition: color 250ms linear, text-shadow 250ms linear;
  }

  .menu-link:hover,
  .menu-link:focus {
    text-shadow: 1px 1px 1px #212121;
    color: var(--blue);
  }

  .header-menu-btn {
    display: none;
  }

  .mobile-overlay {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    font-size: 20px;
    max-width: 135px;
  }

  .header-logo:hover,
  .header-logo:focus {
    transform: scale(1.2);
  }

  .menu-link {
    font-size: 20px;
  }
}
/*=============== /HEADER STYLES ===============*/

/*=============== HERO STYLES ===============*/
.hero-section {
  padding-top: 180px;
  padding-bottom: 180px;
  background-color: var(--section-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  border-radius: 4px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.hero-title {
  text-align: center;
  font-size: 55px;
  text-shadow: 6px 11px 6px #1a1a1a, -7px -10px 6px #0d0d0d;
  margin: 0 auto 32px;
}

.big-title {
  text-transform: uppercase;
  color: var(--yellow);
}

.hero-text {
  text-align: center;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-shadow: 6px 11px 6px #1a1a1a, -7px -10px 6px #0d0d0d;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 60px;
    max-width: 570px;
  }
}
/*=============== /HERO STYLES ===============*/

/*=============== SKILLS STYLES ===============*/
.skills-list {
  margin-bottom: 32px;
}

.skills-item {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}

.skills-item:not(:last-child) {
  margin-bottom: 8px;
}

.skills-item > .fa-brands.fa-html5 {
  color: brown;
}

.skills-item > .fa-brands.fa-css3 {
  color: var(--blue);
}

.skills-item > .fa-brands.fa-square-js {
  color: var(--yellow);
}

.skills-item > .fa-brands.fa-github {
  color: var(--cutomblack);
}

.skills-item > .fa-brands.fa-figma {
  color: var(--orange);
}

.courses-list {
  max-width: 210px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
}

.courses-item:nth-child(1) {
  margin-bottom: 10px;
}

.courses-link {
  font-family: 'Courier Prime', serif;
  font-weight: 600;
  font-size: 22px;
  border-radius: 6px;
  padding: 4px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms linear, color 250ms linear;
}

.courses-link:hover,
.courses-link:focus {
  background-color: var(--blue);
  color: var(--white);
}

.courses-link > i {
  transition: color 250ms linear;
}

.courses-link:hover > i,
.courses-link:focus > i {
  color: var(--yellow);
}

.certificates-list {
  font-size: 19px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.certificates-item {
  position: relative;
}

.certificates-link {
  border-radius: 6px;
  padding: 4px 12px;
  transition: background-color 250ms linear;
}

.hover-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 10px;
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms linear, color 250ms linear;
}

.certificates-link:hover,
.certificates-link:focus {
  background-color: var(--blue);
  color: var(--white);
}

.certificates-link:hover .hover-image,
.certificates-link:focus .hover-image {
  opacity: 1;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .certificates-list {
    font-size: 24px;
  }
}
/*=============== /SKILLS STYLES ===============*/

/*=============== PROJECTS STYLES ===============*/

.projects-section {
  background-color: var(--section-color);
}

.projects-title {
  color: var(--white);
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 40px;
}

.portfolio-item {
  background-color: var(--white);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 24px 4px rgba(18, 194, 255, 0.43);
}

.portfolio-link-title {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 35px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 8px;
  transition: background-color 250ms linear, color 250ms linear;
}

.portfolio-link:hover > .portfolio-link-title,
.portfolio-link:focus > .portfolio-link-title {
  color: var(--blue);
  background-color: var(--yellow);
}

.portfolio-link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  background-color: var(--blue);
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms linear;
}

.portfolio-link-btn:hover,
.portfolio-link-btn:focus {
  background-color: #404bbf;
}

.additional-parenthesis {
  color: var(--orange);
  opacity: 0;
  transition: opacity 250ms linear;
}

.portfolio-link-btn:hover .additional-parenthesis,
.portfolio-link-btn:focus .additional-parenthesis {
  opacity: 1;
}

.portfolio-link-btn:hover .additional-parenthesis.left,
.portfolio-link-btn:focus .additional-parenthesis.left {
  animation: 1.5s linear infinite anim-btn-left;
}

.portfolio-link-btn:hover .additional-parenthesis.right,
.portfolio-link-btn:focus .additional-parenthesis.right {
  animation: 1.5s linear infinite anim-btn-right;
}

@keyframes anim-btn-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes anim-btn-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 32px;
    max-width: 100%;
    margin: 0 auto 50px;
  }

  .portfolio-item {
    max-width: calc((100% - 32px) / 2);
  }

  .portfolio-link-btn {
    width: 170px;
    padding-top: 15px;
    padding-bottom: 14px;
    font-size: 28px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    max-width: 100%;
  }

  .portfolio-item {
    max-width: calc((100% - 64px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms linear;
  }

  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0px 0px 24px 4px rgba(18, 194, 255, 0.43);
  }
}
/*=============== /PROJECTS STYLES ===============*/

/*=============== FOOTER STYLES ===============*/
.page-footer {
  background-color: var(--cutomblack);
  color: var(--white);
  padding-top: 100px;
  padding-bottom: 20px;
}

.footer-title {
  font-size: 40px;
  letter-spacing: 2px;
}

.footer-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;
}

.footer-link {
  display: flex;
  gap: 8px;
  text-transform: uppercase;
  font-size: 22px;
  color: rgba(92, 201, 127, 0.7);
  transition: transform 400ms linear, color 400ms linear;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--orange);
  transform: translateY(25%);
}

.footer-text::before {
  width: 100%;
  height: 2px;
  background-color: red;
  border-radius: 50%;
  content: '';
  position: absolute;
  left: 0;
  top: -14px;
}

.footer-text {
  text-align: center;
  position: relative;
}

.footer-text-link {
  color: var(--gradient2);
  font-size: 18px;
  transition: color 250ms linear;
}

.footer-text-link:hover,
.footer-text-link:focus,
.footer-text-link:hover .fa-angles-up,
.footer-text-link:focus .fa-angles-up {
  color: var(--gradient1);
  opacity: 1;
}

.fa-angles-up {
  opacity: 0;
  transition: opacity 500ms linear;
}

@media screen and (min-width: 768px) {
  .footer-title {
    max-width: 500px;
    margin: 0 auto 60px;
  }

  .footer-list {
    max-width: 450px;
    margin: 0 auto 100px;
  }

  .footer-text {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .footer-list {
    max-width: 500px;
  }
}
/*=============== /FOOTER STYLES ===============*/
